.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
  color: white;
}

.button {
  background-color: #004558;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin-top: 6vh;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks {
  margin: auto;
  margin-bottom: 30px;
  width: 70vh;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.delete {
  margin: auto;
  color: red;
  width: 20px;
  height: 20px;
}

.add-form {
  margin: auto;
  margin-bottom: 40px;
  width: 100vh;
}

.form-control {
  margin-top: 20px;
}

.form-control label {
  display: block;
  font-size: 20px;
  color: white;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
}

.add-button {
  margin: auto;
  background-color: #004558;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
